<ion-header>
  <ion-toolbar>
    <ion-title>
      Decentralized Identifier App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Welcome to Did App</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Register and resolve a Decentralized Identity at the Sovrin
        implementation by Danube Tech
      </p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item href="https://danubetech.com/">
      <ion-icon slot="start" color="medium" name="globe"></ion-icon>
      <ion-label>Danube Tech</ion-label>
    </ion-item>
    <ion-item href="https://sovrin.org/">
      <ion-icon slot="start" color="medium" name="sunny"></ion-icon>
      <ion-label>Sovrin Foundation</ion-label>
    </ion-item>
    <ion-item href="https://danubetech.com/technologies.html">
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>Technologies</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
